.arco-page-header-wrapper {
  padding-left: 0px;
}

.arco-page-header-title {
  font-size: 12px;
}

.arco-page-header-header {
  padding-top: 8px;
}

.arco-page-header {
  padding: 0px 0px 8px 0px;
}

.arco-table-th {
  background-color: #fff;
}

.arco-divider-vertical {
  margin: 0px 0px;
}

.arco-tabs-nav {
  background-color: #fff;
}

.arco-tabs-content {
  padding-top: 0px;
}

.arco-form-item-message {
  margin-bottom: 6px;
}

.arco-divider-text {
  color: var(--color-text-3);
}

.arco-card-header {
  border-bottom: 0px;
}

.arco-card-header-title {
  color: var(--color-text-2);
}

.arco-table-th {
  height: 48px;
  background-color: var(--color-neutral-2);
}

/* 修改详情页Title字体大小 */
.arco-descriptions-title {
  font-size: 12px;
  color: var(--color-text-2);
}

.arco-card-size-medium .arco-card-header-title {
  font-size: 12px;
}

.arco-switch-loading .arco-switch-handle {
  color: var(--color-neutral-7);
}

.arco-switch-loading {
  background-color: var(--color-fill-4);
}

.arco-drawer-footer {
  display: flex;
  justify-content: center;
}

.arco-drawer-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arco-drawer-footer {
  padding: 8px 8px 8px 8px;
}

.arco-divider-text {
  font-size: 12px;
}

.arco-link {
  font-size: 12px;
}

.arco-modal-footer {
  text-align: center;
}

/* 定制字体 */

.arco-menu {
  font-size: 12px;
}

.arco-btn-text {
  font-size: 12px;
  font-weight: 600;
}

.arco-popconfirm-content {
  font-size: 12px;
}

.arco-btn-primary {
  font-size: 12px;
}

.arco-form-item-label-col > .arco-form-item-label {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-neutral-6);
}

.arco-table-th-title {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-neutral-6);
}

.arco-table-td-content {
  font-size: 12px;
}

.arco-input-wrapper .arco-input.arco-input-size-medium {
  font-size: 12px;
}

.arco-select-view-single.arco-select-view-size-medium .arco-select-view-value {
  font-size: 12px;
}

.arco-select-dropdown .arco-select-option {
  font-size: 12px;
}

.arco-radio-button {
  font-size: 12px;
}

.arco-textarea {
  font-size: 12px;
}

.arco-alert {
  font-size: 12px;
}

.arco-drawer-header .arco-drawer-title {
  font-size: 12px;
}

.arco-breadcrumb {
  font-size: 12px;
}

.arco-pagination-total {
  font-size: 12px;
}

.arco-pagination-item {
  font-size: 12px;
}

.arco-pagination-jumper > span {
  font-size: 12px;
}

.arco-tabs-tab {
  font-size: 12px;
}
